<!-- Example web socket consumer -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Constellation Updates POC</title>
</head>
<body>
    <h2>Example Websocket HTML Client</h2>
    Make use of contained javascript block to open a websocket to backend and process updates.<br/>
    To demonstrate, open multiple browser windows to this page, then using REST API,
    create or apply changes to Constellation data records, and view received JSON below.<br/><br/>
    <textarea id="update-log" cols="100" rows="20"></textarea><br>
    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/updates/');
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#update-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>